@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/
body {
    background-color: rgb(126, 235, 126);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(5, 139, 5);
}

h1#principal {
    text-align: center;
    background-color: rgb(5, 139, 5);
    color: white;
}

h2 {
    color: rgb(25, 53, 25);
}

.basico {
    color: rgb(0, 217, 255);
}

.intermediario {
    color: yellow
}

.avancado {
    color: rgb(255, 36, 36)
}

.destaque {
    background-color: rgba(194, 177, 82, 0.774);
}